
h1 {
	font-family: Georgia;
	text-align: center;
	font-size: calc(10px + 60 * (100vw / 1920));
	color: #030000;
}
.text {
	line-height: calc(1px + 20 * (100vw / 1080));
	font-family: Georgia;
	text-align: center;
	font-size: calc(12px + 22 * (100vw / 1920));
	color: #030000;
}
.in {
	width: calc(60px + 375 * (100vw / 1980));/*500*/
	height: calc(15px + 20 * (100vw / 1080));
}
.in2 {
	width: calc(23px + 345 * (100vw / 1980));/*444*/
	height: calc(15px + 20 * (100vw / 1080));
}
.out {
	height: calc(15px + 20 * (100vw / 1080));
	font-family: Georgia;
}
.end {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.end th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.end td {
	border: 1px solid #dddddd;
	padding: 5px;
}
}
.msg {
	border: 2px;
	border-radius: 2px;
    line-height: calc(1px + 20 * (100vw / 1080));
	font-family: Georgia;
	text-align: center;
	font-size: calc(12px + 22 * (100vw / 1920));
	color: #7d182e;

}